<link
  href="https://fonts.googleapis.com/css?family=Source Code Pro"
  rel="stylesheet"
/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/codemirror.css"/>
<br />

<div *ngIf="albumDetails">
  <div class="row">
    <div class="column">
      <img [src]="albumDetails.images[0].url" class="center" alt="" />
    </div>
  </div>
</div>

<br />

<table class="w3-table-all">
  <tr class="w3-grey">
    <th>
      Name of Song
    </th>
    <th>Preview Song</th>
  </tr>

  <ng-container *ngIf="tracksDetails">
    <tr *ngFor="let item of tracksDetails.items">
      <td>
        <p>{{ item.name }}</p>
      </td>
      <td>
        <a
          *ngIf="item.preview_url !== null"
          [href]="item.preview_url"
          target="_blank"
          >Preview Track</a
        >
      </td>
    </tr>
  </ng-container>
</table>
